<div class="sidenav"  [@onSideNavChange]="isOpen ? 'open' : 'close'">
    <div fxLayout="column" fxLayoutGap="10px" class="sidenav__container">
      <div>
        <mat-nav-list>
          <a mat-list-item routerLink="/">
            <mat-icon>home</mat-icon>
            <a [@animateText]="linksVisible ? 'show' : 'hide'">Home</a>
        </a>
        <a mat-list-item routerLink="/cities">
            <mat-icon>location_city</mat-icon>
            <a [@animateText]="linksVisible ? 'show' : 'hide'">Cities</a>
        </a>
        </mat-nav-list>
      </div>
    </div>
</div>
